.play-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 1rem;

    @media (min-width: 720px) {
        padding: 2rem 0 2rem 2rem;
    }

    &__color-select {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (min-width: 576px) {
            gap: 2rem;
        }

        > li {
            display: flex;
            align-items: center;
            //position: relative;

            @media (min-width: 992px) {
                position: relative;
            }

            // .color-options {
            //     position: absolute;
            //     top: 12rem;
            //     background-color: white;
            //     display: flex;
            //     flex-wrap: wrap;
            //     gap:1rem;
            //     padding: 1rem;
            //     z-index: 5;
            //     box-shadow: 0px 3px 20px #0000001A;
            //     max-width: 80vw;
            //     left: 10vw;
    
            //     @media (min-width: 576px) {
            //         top: 13rem;
            //     }

            //     @media (min-width: 992px)  {
            //         top: 4rem;
            //         max-width: auto;
            //         left: 0;
            //         flex-wrap: nowrap;
            //     }
    
            //     label {
            //         cursor: pointer;

            //         .color {
            //             width: 3rem;
            //             height: 3rem;
            //         }
            //     }
            // } 
        }

        
    }

    &--guess {
        border-top: 1px solid $black;
        padding: 1rem;

        @media (min-width: 720px) {
            padding: 2rem;
        }
    }
}

.popover-content__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}